input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  min-height: 100%;
  background-color: azure;
  font-family: "Odibee Sans", cursive;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  background-color: rgb(204, 0, 0);
  height: 550px;
  min-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 5, 0.3);
}

.pokedexContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 75px auto 25%;
}

.searchContainer {
  /* background-color: blue; */
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

#searchInput {
  outline: none;
  background-color: #3b4cca;
  color: #fff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 5, 0.3);
  border-radius: 5px;
  font-weight: bold;
  height: 35px;
}

#searchInput::placeholder {
  color: #fff;
}

.button {
  height: 35px;
  border-radius: 5px;
  background-color: #3b4bc9;
  color: #fff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 5, 0.3);
  transition: 0.5s;
  font-weight: bold;
}

.button:hover {
  background-color: #192bb1;
  cursor: pointer;
}

.screenContainer {
  /* background-color: rgb(59, 148, 81); */
  grid-column: 1/6;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultContainer {
  /* background-color: rgba(228, 28, 145, 0.692); */
  grid-column: 2/5;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainResult {
  height: 90%;
  background-color: #fff;
  border: 3px solid #494949;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: x-large;
}

.result {
  height: 265px;
  width: 260px;
  padding: 0 20px;
  background-color: #b0b0b0;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 5, 0.3);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 15px;
}

.ulTag {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.ulResult {
  padding-left: 0;
  margin: 0;
}

.screen {
  height: 265px;
  width: 260px;
  padding: 0 20px;
  background-color: #b0b0b0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 5, 0.3);
}
.mainScreen {
  height: 225px;
  width: 254px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 3px solid #494949;
  clear: both;
  border-radius: 15px;
}
#pokemonImage {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

li {
  text-transform: capitalize;
}
